// Colors
$body-color: #ffffff;
$main-blue: #57ccf9;
$heading-color: #291f5f;
$main-grey: #f7f9fb;
$main-black: #363636;

// Fonts
$brod-text: 'Open Sans', sans-serif;
$title-text: 'Russo One', sans-serif;

